<div class="panel" >
        <div class="panel-heading">{{title}}</div>
        <div class="panel-body">
    <div  class="table-responsive">
        
         <form>
            Email:<input type="email" id="myInput" name="email" required/> <br><br>
            Password:<input type="password" id="myField" name="password" required/><br><br>
        </form>

            <button type="submit"  onclick="document.getElementById('myInput').value = ''" >Login</button>
            
        </div>
    </div>
    

    </div>

